/* src/pages/ContactForm.css */

.contact-form-container {
    max-width: 800px;
    margin: 0 auto; /* Centers the form horizontally */
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
  }

  textarea {
    resize: vertical;
    min-height: 150px;
  }

  button {
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  button:hover {
    background-color: #818284;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button:focus {
    outline: none;
  }
