/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* Responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto; /* Adjust height if necessary */
  }

  .content {
    flex: none;
    width: 100%;
  }
}
